$('ul.other_concert_lists').empty();
$('.month').text("<%=@concerts[0].start_datetime.strftime("%1m")%>");
$('.divide_line').text("/");
$('.day').text("<%=@concerts[0].start_datetime.strftime("%e")%>");
$('p.orchestra_name').text("<%=@concerts[0].orchestra.name%>");
<% if @concerts[0].conductor %>
  $('p.conductor_name').text("<%=@concerts[0].conductor.name%>");
<%else%>
  $('p.conductor_name').text("指揮者無しのコンサート");
<%end%>
<% if @concerts[1] %>
  $('.other_concerts').addClass('visible');
  $('.count_concert').text("他<%= @concerts.length - 1%>公演");
  <% @concerts.drop(1).each do |concert|%>
    $('ul.other_concert_lists').append("<li><a href='/#/concerts/<%= concert.id%>'><%= concert.start_datetime.strftime("%1m")%>/<%=concert.start_datetime.strftime("%e")%>　<%= concert.orchestra.name%>:<%= concert.conductor.name%></a></li>");
  <%end%>
<%else%>
  $('.other_concerts').removeClass('visible');
<%end%>
